{% extends "layout.html.twig" %}


{% block title %}
    {{ parent() }} Admin - Les commandes
{% endblock %}

{% block content %}


    <div class="list-contact">
        <h1>Liste des commandes par utilisateurs </h1>
        <table>
            <thead>
            <tr>
                <th>Numéro de commande</th>
                <th>Email de contact</th>
                <th>Nom client</th>
                <th>ID CLient</th>
                <th>Date de commande</th>
                <th>Prix </th>

            </tr>
            </thead>
            <tbody>

            {% for command in commands %}

                <tr>
                    <td>{{ command.command_number}}</td>
                    <td>{{ users[loop.index0].email }}</td>
                    <td>{{ users[loop.index0].firstname }}</td>
                    <td>{{ users[loop.index0].id }}</td>
                    <td>{{ command.created_at }}</td>
                    <td>{{ command.amount }} €</td>

                </tr>

            {% endfor %}

            </tbody>
        </table>
    </div>




{% endblock %}