{% extends 'layout.html.twig' %}

{% block title %}

    {{ parent() }} Nos cuisniers
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}


{% block content %}
    {% for i in 1..6 %}
    <div class="card-cooker">
        <img src="/assets/images/cuistots/chef-{{ random(1,15) }}.jpg" alt="">
        <div class="card-menu">

            {% for j in 1..3 %}
                <div class="details-menu">
                    <a href="/menu/singlemenu"><p>Menu {{ plats[random(0,9)].name}}</p></a>
                    <p> | {{ random(5,45) }} € | </p>
                    <p> {{ random(1500,5000) }}kcal/100gr </p>
                </div>
                <div class="menu">
                    <div class="menu-wrap">
                        <img src="/assets/images/dishdatabase/entrees/entree-{{ random(1,15) }}.jpg" alt="">
                        <p>{{ entrees[ random(0,9) ].name }}</p>
                    </div>
                    <div class="menu-wrap">
                        <img src="/assets/images/dishdatabase/plats/plat-{{ random(1,15) }}.jpg" alt="">
                        <p>{{ plats[ random(0,9) ].name }}</p>
                    </div>
                    <div class="menu-wrap">
                        <img src="/assets/images/dishdatabase/desserts/dessert-{{ random(1,15) }}.jpg" alt="">
                        <p>{{ desserts[ random(0,9) ].name }}</p>
                    </div>
                    <p><i class="fas fa-shopping-cart"></i>+</p>
                </div>

            {% endfor %}
        </div>
    </div>
    {% endfor %}

{% endblock %}
