{% extends 'layout.html.twig' %}

{% block title %}

    {{ parent() }} Nos cuisniers
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}


{% block content %}
    {% for i in 0..(cooker|length-1) %}
    <div class="card-cooker cc-{{ i }}">
        <img src="/assets/images/cuistots/chef-{{ i }}.jpg" alt="">
        
        <div class="card-menu">
       
        <h1>{{ plats[i].cooker }}</h1>
                <div class="details-menu">
                    <a href="/menu/singlemenu/{{plats[i].menu}}"><p>{{ plats[i].menu}}</p></a>
                    <p> <img src="/assets/images/flags/{{ menu[i].country }}.png" alt=""></p>
                    <p> | {{ menu[i].price }} € | </p>
                    <p> {{ random(1500,5000) }}kcal/100gr | </p>
                    <p id="paniers"><i class="fas fa-shopping-cart"></i>+</p>
                </div>
                <div class="menu">
                    <div class="menu-wrap">
                        <a href="/menu/singlemenu/{{plats[i].menu}}"><img src="/assets/images/dishdatabase/entrees/{{ entrees[i].link }}.jpg" alt=""></a>
                        <p>{{ entrees[i].dish }}</p>
                    </div>
                    <div class="menu-wrap">
                        <a href="/menu/singlemenu/{{plats[i].menu}}"><img src="/assets/images/dishdatabase/plats/{{ plats[i].link }}.jpg" alt=""></a>
                        <p>{{ plats[i].dish }}</p>
                    </div>
                    <div class="menu-wrap">
                        <a href="/menu/singlemenu/{{plats[i].menu}}"><img src="/assets/images/dishdatabase/desserts/{{ desserts[i].link }}.jpg" alt=""></a>
                        <p>{{ desserts[i].dish }}</p>
                    </div>
                    
                </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}
