{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} Menu
{% endblock %}

{% block content %}
     <div class="main-menu">
         <div class="back-menu">
             <a href="/menu/cookers"><i class='fas fa-reply'></i></a>
         </div>

         <div class="order">

             <div class="number-order">
                 <p id="menu-price">Ce menu est à : {{menu.price}} €</p>
             </div>
         </div>
         <div class="singlemenu">

             <!--Top 3 ideas -->
             <div class="top-3">
                 <div class="top-card">
                     <img src="/assets/images/dishdatabase/entrees/{{ entrees.image_link }}.jpg" alt="">
                     <div class="box-category">
                         <h1>{{ entrees.name }}</h1>
                         <p>{{ entrees.description }}</p>
                     </div>
                 </div>
                 <div class="top-card">
                     <img src="/assets/images/dishdatabase/plats/{{ plats.image_link }}.jpg" alt="">
                     <div class="box-category">
                         <h1>{{ plats.name }}</h1>
                         <p>{{ plats.description }}</p>
                     </div>
                 </div>
                 <div class="top-card">
                     <img src="/assets/images/dishdatabase/desserts/{{ desserts.image_link }}.jpg" alt="">
                     <div class="box-category">
                         <h1>{{ desserts.name }}</h1>
                         <p>{{desserts.description}}</p>
                     </div>
                 </div>
             </div>

         </div>

     </div>
{% endblock %}